# ID of google spreadsheets document with schedule
SCHEDULE_DOCUMENT_ID=frewhjfhjwb34hjrb234
# bot that app will use to operate channel
TELEGRAM_BOT_TOKEN=ffeferfwkljenfhjeb4hfr5
# channel, where bot will send updates
UPDATES_TELEGRAM_CHANNEL_ID=-100523452345
# path where json schedule repository will store file
SCHEDULE_FILE_REPOSIOTORY_PATH=./storage.json
# Interval for schedule poller
SCHEDULE_POLLER_INTERVAL=10m
